/*-------------------------Colours */

.ui-menu-color-home{
    background-color: #43df43;
}

.ui-menu-color-about{
    background-color: #ca1515;
}

.ui-menu-color-offer{
    background-color: #1250d6;
}

.ui-menu-color-contact{
    background-color: #d4c821;
}

/*-------------------------Heading */

header{
    margin:0;
}

.navbar{
    align-items: flex-start;
}

.navbar-nav li a{
    color:white;
}
