/*-------------------------Colours 

.navbar-light .navbar-nav .nav-link {
    color:white;
}

/*-------------------------Heading  */

header{
    margin:0;
}

.navbar{
    align-items: flex-start;
}

.bg-dark {
    background:transparent !important;
    transition:0.75s ease;
}

.bg-dark.scrolled{
    background: #000 !important;
}